{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="category_delete">
        Уверены, что хотите удалить <b>{{ object.name }}</b>
        {% if object.description %}
            ({{ object.description }})
        {% endif %}
        ?
        <form action="{% url 'admin_staff:category_delete' object.pk %}"
              method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="удалить">
        </form>

        <br>
        <a href="{% url 'admin_staff:categories' %}">
            <button class="btn btn-success">
                Отмена
            </button>
        </a>
    </div>
{% endblock %}