{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary w-100">Сохранить</button>
    </form>
    <br>
    <a href="{% url 'admin_staff:products' 1 %}">
{#    <a href="{% url 'admin_staff:products' category.pk %}">#}
        <button class="btn btn-success form-control last">
            к списку продуктов в категории
        </button>
    </a>

{% endblock %}