{% extends 'mainapp/base.html' %}
{% load static %}
{% load my_tags %}

{% block mainmenu %}
    <div class="hero-white">
        <div class="header clearfix">
            {% include 'mainapp/includes/inc_mainmenu.html' %}
            {% if basket %}
                <a href="{% url 'basket:index' %}" class="basket">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    <span class="basket_detail">{{ basket.0.total_quantity }}тов. {{ basket.0.total_cost|floatformat:0 }}р.</span>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="details">
        <div class="links clearfix">
            <ul class="links-menu">
                <li><a href="{% url 'products:category' 0 %}"
                       class="{% if request.resolver_match.kwargs.pk|default:0 == 0 %}active{% endif %}">Все</a></li>
                {% for link in links_menu %}
                    <li><a href="{% url 'products:category' link.pk %}"
                           class="{% if request.resolver_match.kwargs.pk == link.pk %}active{% endif %}">{{ link.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% if not category %}
            <div class="details-products">
                <div class="details-slider">
                    <div class="slider-product">
                        <img src="{{ hot_product.image|media_folder_products }}">
                    </div>
                    <div class="slider-control">
                        <div class="block">
                            <a href="#"><img src="{% static 'mainapp/img/controll.jpg' %}" alt="">
                                <div class="text"></div>
                            </a>
                        </div>
                        <div class="block">
                            <a href="#"><img src="{% static 'mainapp/img/controll1.jpg' %}" alt="">
                                <div class="text"></div>
                            </a>
                        </div>
                        <div class="block">
                            <a href="#"><img src="{% static 'mainapp/img/controll2.jpg' %}" alt="">
                                <div class="text"></div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="description">
                    <h3 class="big-bold">{{ hot_product.name }}</h3>
                    <h3 class="red">горячее предложение</h3>
                    <p class="price"> {{ hot_product.price }} <span>руб</span></p>
                    <a href="{% url 'basket:add' hot_product.pk %}" class="red-button">
                        заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                    <div class="description-text">
                        {{ hot_product.description }}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if category %}
            <div class="related">
                <div class="title clearfix">
                    <h2>Категория "{{ category.name|title }}"</h2>
                </div>
                <div class="related-products clearfix">
                    <div class="paginator">
                        {% if products.has_previous %}
                            <a href="{% url 'products:page' category.pk products.previous_page_number %}">
                                <
                            </a>
                        {% endif %}
                        <span class="current">
                            страница {{ products.number }} из {{ products.paginator.num_pages }}
                        </span>
                        {% if products.has_next %}
                            <a href="{% url 'products:page' category.pk products.next_page_number %}">
                                >
                            </a>
                        {% endif %}
                    </div>
                    {% for product in products %}
                        <div class="block">
                            <a href="{% url 'products:product' product.pk %}"><img
                                    src="{{ product.image|media_folder_products }}" alt="">
                                <div class="text">
                                    <img src="{% static 'mainapp/img/icon-hover.png' %}" alt="img">
                                    <h4>{{ product.name }}</h4>
                                    <p>{{ product.description }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if same_products %}
            <div class="related">
                <div class="title clearfix">
                    <h2>Похожие продукты</h2>
                </div>
                <div class="related-products clearfix">
                    {% for product in same_products %}
                        <div class="block">
                            <a href="{% url 'products:product' product.pk %}"><img src="{{ product.image|media_folder_products }}"
                                                                                   alt="">
                                <div class="text">
                                    <img src="{% static 'mainapp/img/icon-hover.png' %}" alt="img">
                                    <h4>{{ product.name }}</h4>
                                    <p>{{ product.description }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}